@using BuyAtYourPrice.Web.Models
@model SignUpModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content" class="clearfix">
    <div class="column-container">
        <div class="col-620 mr-20">
            <div class="dark-bg-content-container">
                <div class="padded-bordered-content">
                    <h1 class="mb-10">
                        Join Buy at Your Price</h1>
                    <p style="font-size: 12px;">
                        It’s free, easy. Sign up now to use any of our ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <hr class="thick mb-20" />
                    <div class="register-form wide-form-container">
                        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
                        {
                            <div class="clear">
                            </div>
                            @Html.LabelFor(m => m.FullName)
                            @Html.TextBoxFor(m => m.FullName, new { @class = "text-skinny" })
                            @Html.ValidationMessageFor(m => m.FullName)
                            <div class="clear">
                            </div>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "text-skinny" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            <div class="clear">
                            </div>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "text-skinny" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <div class="clear">
                            </div>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-skinny" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            <div class="clear">
                            </div>
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "text-skinny" })
                            @Html.ValidationMessageFor(m => m.Email)
                            <div class="clear">
                            </div>
                            <input type="image" alt="Create Account" src="../../Content/images/create-account.png"
                                class="mt-5" id="create-account-btn">
                            <div class="clear">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            Banner Ad
        </div>
    </div>
</div>
